.hero-container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url('/src/assets/background.jpg') center top / cover no-repeat;
  /* alt way of doing background image: center center w/ background2.jpg 
 + remove  background-attachment: fixed*/
  /* background-position: center; */
  background-attachment: fixed;
  padding-top: 35px;
  height: 100vh;
  /* 100VW is new. give it a shot */
  /* width: 100vw; */
  /* max-width: 1200px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  overflow-y: hidden;
}

h2 {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200px;
  /* font-size: 2rem; */
  /* margin-top: -100px; */
  /* padding-top: 25px; */
}

p {
  /* margin-top: 8px; */
  color: #fff;
  /* font-size: 32px; */
  /* font-size: 9rem; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

p {
  display: flex;
  text-align: center;
  font-size: 16px;
}

#upcoming {
  color: #fff;
  font-size: 1.7rem;
  /* font-size: 15px; */
}

#title {
  color: #fff;
  font-size: 26px;
}

.album-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artwork {
  width: 100%;
  height: auto;
  max-width: 25rem;
  /* padding-top: 125px;
  object-fit: cover; */
}

.hero-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;

  /* margin-top: 32px; */
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle,
.fa-record-vinyl,
.fa-headphones,
.fa-soundcloud {
  margin-left: 2px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }

  .artwork {
    width: 100%;
    height: auto;
    max-width: 20rem;
    /* padding-top: 125px;
    object-fit: cover; */
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .artwork {
    width: 100%;
    height: auto;
    max-width: 20rem;
    /* padding-top: 125px;
    object-fit: cover; */
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
    margin-bottom: 25px;
  }

  .btn {
    width: 95%;
    /* WAS 100 on 6/20/23 */
  }
}
