.hero-bio-container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url('/src/assets/background.jpg') center top/ cover no-repeat;
  /* alt way of doing background image: center center w/ background2.jpg 
 + remove  background-attachment: fixed*/
  /* background-position: fixed; */
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
  object-fit: contain;
  padding-bottom: 25px;
  overflow: scroll;
}

.album-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artwork-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  max-width: 650px;
  padding-top: 25px;
  object-fit: cover;
}

#about {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  color: #fff;
  font-size: 14.5px;
  /* padding-bottom: 0.5rem; */
  /* width: 100%; */
  max-width: 675px;
  padding: 20px 20px;
}

#promo-pic {
  /* height auto and width 100% */
  /* height: auto; */
  /* width: 100%; */
  max-width: 675px;
  object-fit: contain;
  padding: 20px 20px;
}

#members {
  color: #fff;
  font-size: 13px;
  max-width: 700px;
  padding: 10px 20px;
}

@media screen and (max-width: 960px) {
  .hero-bio-container {
    font-size: 70px;
    margin-top: -150px;
    padding: 0px 20px;
    overflow: scroll;
  }

  #promo-pic {
    height: auto;
    max-width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .hero-bio-container {
    font-size: 50px;
    margin-top: -10px;
    padding: 20px 20px;
  }

  #promo-pic {
    height: auto;
    max-width: 330px;
  }

  #members {
    padding-bottom: 20px;
  }
}
