.future-shows-container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url('/src/assets/background.jpg') center center/ cover no-repeat;
  background-position: fixed;
  height: 100vh;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain; */
  overflow-x: hidden;
}

.album-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .upcoming-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
} */

/* .galleryWrap {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url('/src/assets/background.jpg') center center/ cover no-repeat;
  background-position: fixed;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  max-width: 620px;
  margin: 0 auto;
}

.galleryWrap .single {
  width: 600px;
  cursor: pointer;
}

.galleryWrap .single img {
  max-width: 100%;
}

.galleryWrap .single img:hover {
  transform: scale(1.02);
} */

.hero-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;
}

.hero-btns .btn {
  margin: 6px;
}

/* .fa-play-circle,
.fa-record-vinyl,
.fa-headphones,
.fa-soundcloud {
  margin-left: 4px;
} */

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

/* .image {
  width: auto;
  height: 600px;
  border-radius: 10px;
} */

.image {
  width: 100%;
  height: 40rem;
  max-width: auto;
  padding-bottom: 125px;
  object-fit: cover;
}

.right-arrow {
  position: absolute;
  top: 50%;
  /* right: 32px; */
  right: 50px;
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  /* left: 50px; */
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    max-width: 100%;
  }

  .image {
    max-width: 310px;
    height: auto;
  }
}
