.hero-container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url('/src/assets/background.jpg') center center/ cover no-repeat;
  /* background: url('/src/assets/background.jpg') center center/ cover no-repeat; */
  background-position: fixed;
  padding-top: 35px;
  height: 100vh;
  /* 100VW is new. give it a shot */
  width: 100vw;
  /* max-width: 1200px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
  object-fit: contain;
  overflow-y: hidden;
}

.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
  padding-top: 25px;
  /* position: fixed; */
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

p {
  display: flex;
  text-align: center;
  font-size: 16px;
}

#upcoming {
  color: #fff;
  font-size: 15px;
}

#title {
  color: #fff;
  font-size: 26px;
}

.album-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artwork {
  width: 100%;
  height: auto;
  max-width: 310px;
  /* padding-top: 125px; */
  /* object-fit: cover; */
}

/* .artwork:hover {
  transform: scale(1.05);
  border: #fff solid;
} */

.hero-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-top: 32px; */
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle,
.fa-record-vinyl,
.fa-headphones,
.fa-soundcloud {
  margin-left: 2px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
