.hero-bio-container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url('/src/assets/background.jpg') center center/ cover no-repeat;
  /* background: url('/src/assets/background.jpg') center center/ cover no-repeat; */
  background-position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
  object-fit: contain;
}

.album-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artwork-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  max-width: 700px;
  /* padding-top: 25px; */
  /* object-fit: cover; */
}

#about {
  color: #fff;
  font-size: 15px;
  padding-bottom: 0.5rem;
}

#members {
  color: #fff;
  font-size: 13px;
}

#promo-pic {
  height: AUTO;
  width: 100%;
  max-width: 100%;
  object-fit: contain;
  padding: 20px 20px;
}

p {
  display: flex;
  text-align: center;
  font-size: 16px;
}

@media screen and (max-width: 960px) {
  .hero-bio-container > #promo-pic {
    /* font-size: 70px; */
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-bio-container > #promo-pic {
    font-size: 50px;
    margin-top: -100px;
  }
}
